* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(111, 111, 172);
}

.container {
    width: 1000px;
    height: 590px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.image-end {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
}

.left {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
}

.left2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
}

.bottom {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
    height: 100%;
    width: 100%;
}

.bottom2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    height: 100%;
    width: 100%;
}

